@charset "UTF-8";
/*
[0 - 600] phone
[600 - 900]tab-port
[900 - 1200] tab-land
[1200 - 1800] original design
[1800 - ~] big-desktop

1500px -> 93.75em
1400px -> 87.5em
1000px -> 62.5em
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Zalando Sans Expanded", sans-serif;
}

.heading-primary {
  color: #232f3a;
  text-transform: uppercase;
}
.heading-primary--light {
  color: #313f4b;
}
.heading-primary:not(:last-child) {
  margin-bottom: 3rem;
}
.heading-primary--main {
  font-size: 4.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.4;
  display: block;
}
@media only screen and (max-width: 87.5em) {
  .heading-primary--main {
    font-size: 3.6rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .heading-primary--main {
    font-size: 3rem;
  }
}
@media (max-width: 56.25em) {
  .heading-primary--main {
    font-size: 4rem;
  }
}
@media (max-width: 37.5em) {
  .heading-primary--main {
    font-size: 2.4rem;
    line-height: 1.2;
  }
}
.heading-primary--sub {
  font-size: 2rem;
  font-weight: 200;
  display: block;
}
@media only screen and (max-width: 93.75em) {
  .heading-primary--sub {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 87.5em) {
  .heading-primary--sub {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .heading-primary--sub {
    font-size: 1.3rem;
  }
}
@media (max-width: 56.25em) {
  .heading-primary--sub {
    font-size: 1.4rem;
  }
}
@media (max-width: 37.5em) {
  .heading-primary--sub {
    font-size: 1.2rem;
  }
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(to right bottom, #aa9978 60%, #c7c3af);
}
.heading-secondary--blue {
  background-image: linear-gradient(to right bottom, #232f3a 60%, #b6d9ed);
}
.heading-secondary {
  background-clip: text;
  color: transparent;
  display: inline-block;
  transition: all 0.3s;
}
.heading-secondary:hover {
  transform: skewY(1deg) skewX(15deg) scale(1.1);
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 75em) {
  .heading-secondary {
    font-size: 2.4rem;
  }
}
@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 1.6rem;
  }
}

.u-margin-bottom-sm {
  margin-bottom: 1rem;
}

.u-margin-bottom-md {
  margin-bottom: 3rem;
}

.u-margin-bottom-big {
  margin-bottom: 5rem;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 3rem;
  }
}

.u-margin-bottom-hg {
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-hg {
    margin-bottom: 4rem;
  }
}

.u-text-center {
  text-align: center;
}

.u-horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #f3f3f3;
  padding: 1.5rem 2.5rem;
  border-radius: 100px;
  display: inline-block;
  background-color: #232f3a;
  font-size: 1.4rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.btn--arrow {
  letter-spacing: 0.2rem;
}
.btn--arrow > span {
  display: inline-block;
  transition: all 0.3s;
}
.btn--arrow:hover {
  background-color: #313f4b;
  box-shadow: 0 1rem 3.5rem rgba(0, 0, 0, 0.3);
}
.btn--arrow:hover span {
  transform: translateX(1rem);
}
.btn--animated {
  animation: moveInBottom 1s ease 1s;
  animation-fill-mode: backwards;
}
.btn--scale, .btn--scale:link, .btn--scale:visited {
  position: relative;
}
.btn--scale::after, .btn--scale:link::after, .btn--scale:visited::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-color: #232f3a;
  transition: all 0.4s;
}
.btn--scale:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn--scale:active {
  transform: translateY(0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.btn--cta:link, .btn--cta:visited {
  background-color: #aa9978;
  color: #fff;
  position: relative;
  font-weight: 600;
  letter-spacing: 2px;
  z-index: 1;
}
.btn--cta:link::after, .btn--cta:visited::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-color: #aa9978;
  transition: all 0.4s;
}
.btn--cta:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn--cta:active {
  transform: translateY(0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.btn-text {
  border: none;
  border-bottom: 1px solid #232f3a;
  font-size: 1.6rem;
  padding: 5px;
  display: block;
  color: #232f3a;
  font-weight: 400;
  transition: all 0.3s;
  cursor: pointer;
}
.btn-text:hover {
  background-color: #313f4b;
  color: #f3f3f3;
  transform: translateY(-3px);
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.feature {
  padding: 2.5rem;
  border-bottom: 1px solid #aa9978;
  color: #eee;
  transition: all 0.3s;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 2rem;
}
.feature__icon {
  width: 4rem;
  height: 4rem;
  display: block;
  fill: #c7c3af;
}
.feature__title {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.4;
}
.feature__title span {
  display: block;
  font-size: 1.4rem;
}
.feature__description {
  font-size: 1.4rem;
  grid-column: 1/-1;
  line-height: 2;
  font-weight: 500;
}

.form__group {
  position: relative;
}
.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}
.form__input {
  outline: none;
  padding: 1.3rem 1.5rem;
  background-color: #fff;
  width: 100%;
  font-size: 1.3rem;
  font-family: "Zalando Sans Expanded", sans-serif;
  letter-spacing: 1px;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 2px;
  box-shadow: 0 5rem 4rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.form__input:focus {
  border-bottom: 3px solid #aa9978;
  box-shadow: 0 5rem 4rem rgba(0, 0, 0, 0.15);
}
.form__input::placeholder {
  color: #777;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  transform: translateY(0);
}
.form__label {
  position: absolute;
  font-size: 1.3rem;
  left: 1.3rem;
  bottom: 1.5rem;
  transform: translateY(3.3rem);
  opacity: 1;
  transition: all 0.3s;
  color: #777;
}
.form__button {
  font-family: "Zalando Sans Expanded", sans-serif;
  cursor: pointer;
}

.navigation__background {
  position: fixed;
  top: 4.5rem;
  left: 5.5rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#aa9978, #c7c3af);
  transition: all 1s cubic-bezier(0.65, 0, 0.35, 1);
  z-index: 1000;
}
@media (max-width: 56.25em) {
  .navigation__background {
    top: 3rem;
    left: 4rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__background {
    top: 2rem;
    left: 2rem;
  }
}
.navigation__toggle {
  display: none;
}
.navigation__button {
  background-color: #f3f3f3;
  display: inline-block;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 4rem;
  left: 5rem;
  z-index: 3000;
  cursor: pointer;
}
@media (max-width: 56.25em) {
  .navigation__button {
    top: 2.5rem;
    left: 3.5rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__button {
    top: 1.5rem;
    left: 1.5rem;
  }
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  z-index: -1; /* 將 nav 的 z-index 隱藏在頁面下，否則就算設定 opacity:0;, width:0; 依舊會被點擊到 */
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  width: 100%;
  text-align: center;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  color: #f3f3f3;
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.3rem;
  background-image: linear-gradient(135deg, transparent 0%, transparent 50%, #f3f3f3 50%, #f3f3f3);
  background-size: 240%;
  display: inline-block;
  padding: 1rem 2rem;
  transition: all 0.4s;
}
.navigation__link:hover {
  background-position: 100%;
  color: #aa9978;
}
.navigation__toggle:checked ~ .navigation__background {
  transform: scale(70);
}
.navigation__toggle:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  z-index: 1500; /* 恢復 z-index */
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  display: inline-block;
  background-color: #232f3a;
  height: 3px;
  width: 3.5rem;
  transition: all 0.2s;
}
.navigation__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation__icon::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: 0;
}
.navigation__icon::after {
  content: "";
  position: absolute;
  top: 1rem;
  left: 0;
}
.navigation__button:hover .navigation__icon::before {
  transform: translateY(-0.2rem);
}
.navigation__button:hover .navigation__icon::after {
  transform: translateY(0.2rem);
}
.navigation__toggle:checked ~ .navigation__button > .navigation__icon {
  background-color: transparent;
}
.navigation__toggle:checked ~ .navigation__button > .navigation__icon::before {
  transform: rotate(135deg);
  top: 0;
}
.navigation__toggle:checked ~ .navigation__button > .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0;
}

.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
@supports (backdrop-filter: blur(3px)) {
  .popup {
    background-color: transparent;
    backdrop-filter: blur(5px);
  }
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 70%;
  background-color: #f3f3f3;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: scale(0.5) translate(-50%, -50%);
  transform-origin: 0 0;
  transition: all 0.3s 0.2s;
}
@media (max-width: 75em) {
  .popup__content {
    width: 85%;
  }
}
@media (max-width: 56.25em) {
  .popup__content {
    grid-template-columns: auto;
    width: 90%;
  }
}
.popup__left {
  background-image: url(../img/phone-popup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.popup__right {
  padding: 3rem 5rem;
  text-align: center;
}
.popup__img {
  width: 100%;
}
.popup__text {
  font-size: 1.4rem;
  hyphens: auto;
}
.popup__close:link, .popup__close:visited {
  font-size: 3rem;
  text-decoration: none;
  color: #777;
  transition: all 0.3s;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  display: block;
  padding: 0.5rem;
}
.popup__close:hover {
  color: #aa9978;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
}

.testimonial-list {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
}
@media (max-width: 75em) {
  .testimonial-list {
    grid-template-columns: auto;
  }
}

.testimonial {
  background-color: #f3f3f3;
  padding: 5rem;
  border-radius: 2px;
  box-shadow: 0.5rem 1rem 3rem rgba(35, 47, 58, 0.09);
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 2rem;
  position: relative;
}
@media (max-width: 37.5em) {
  .testimonial {
    grid-template-columns: auto;
    justify-items: center;
    padding: 3rem;
    gap: 1rem;
  }
}
.testimonial__shape {
  width: 15rem;
  height: 15rem;
}
@media (max-width: 37.5em) {
  .testimonial__shape {
    width: 20rem;
    height: 20rem;
  }
}
.testimonial__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial__caption {
  font-size: 1.4rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
@media (max-width: 37.5em) {
  .testimonial__caption {
    font-size: 1.2rem;
    bottom: 1rem;
    right: 1rem;
  }
}
.testimonial__text {
  font-size: 1.4rem;
  line-height: 1.5;
  hyphens: auto;
}
@media (max-width: 75em) {
  .testimonial__text {
    font-size: 1.8rem;
  }
}
@media (max-width: 56.25em) {
  .testimonial__text {
    font-size: 1.4rem;
    padding: 1rem;
  }
}

.footer {
  display: grid;
  row-gap: 5rem;
  justify-items: center;
}
.footer__navigation {
  border-top: 1px solid #313f4b;
  padding: 1.5rem 2rem;
}
.footer__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.footer__item {
  position: relative;
}
.footer__item::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #313f4b;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: all 0.3s;
}
.footer__item:hover::after {
  width: 100%;
}
.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: #232f3a;
  font-size: 1.4rem;
}
@media (max-width: 56.25em) {
  .footer__link:link, .footer__link:visited {
    font-size: 1.6rem;
  }
}
.footer__img {
  width: 20rem;
}
.footer__copyright {
  padding: 1.5rem 2rem;
  font-size: 1.3rem;
  text-align: center;
}
@media (max-width: 56.25em) {
  .footer__copyright {
    font-size: 1.2rem;
  }
}

.header {
  background-color: #f3f3f3;
  padding: 5rem;
  grid-row: 1/2;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
}
@media (max-width: 56.25em) {
  .header {
    padding-bottom: 2rem;
    padding-top: 8rem;
  }
}
@media (max-width: 37.5em) {
  .header {
    padding: 0;
    padding-top: 6rem;
  }
}
.header__text-box {
  padding: 5rem;
  grid-row: 1/2;
  grid-column: full-start/col-start 6;
  position: relative;
  z-index: 10;
}
@media (max-width: 56.25em) {
  .header__text-box {
    grid-row: 2/3;
    grid-column: 1/-1;
    text-align: center;
  }
}
.header__img-container {
  grid-row: 1/2;
  grid-column: col-start 3/full-end;
}
@media (max-width: 56.25em) {
  .header__img-container {
    grid-column: center-start/center-end;
  }
}
.header__img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  filter: brightness(97%);
}

.container {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media (max-width: 56.25em) {
  .container {
    grid-template-rows: auto;
  }
}

.section-feature {
  grid-column: 1/-1;
  padding: 15rem 20rem;
  background-color: #313f4b;
}
@media (max-width: 75em) {
  .section-feature {
    padding: 10rem 12rem;
  }
}
@media (max-width: 56.25em) {
  .section-feature {
    padding: 10rem 5rem;
  }
}
@media (max-width: 37.5em) {
  .section-feature {
    padding: 8rem 3rem;
  }
}

.section-testimonials {
  grid-column: 1/-1;
  padding: 10rem 10rem;
  background-color: #f3f3f3;
  display: grid;
  justify-items: center;
}
@media (max-width: 56.25em) {
  .section-testimonials {
    padding: 10rem 5rem;
  }
}

.section-cta {
  grid-column: 1/-1;
  padding: 15rem 20rem;
  background-color: #313f4b;
  display: grid;
  justify-items: center;
  text-align: center;
}
.section-cta__text {
  font-size: 2rem;
  font-weight: 400;
  color: #f3f3f3;
}
@media (max-width: 56.25em) {
  .section-cta__text {
    font-size: 1.4rem;
  }
}
@media (max-width: 56.25em) {
  .section-cta {
    padding: 10rem 5rem;
  }
}
@media (max-width: 37.5em) {
  .section-cta {
    padding: 8rem 3rem;
  }
}

.footer {
  padding: 10rem 10rem 3rem;
  grid-column: 1/-1;
  background-color: #f3f3f3;
}
@media (max-width: 56.25em) {
  .footer {
    padding: 10rem 5rem 3rem;
  }
}
@media (max-width: 37.5em) {
  .footer {
    padding: 10rem 3rem 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
