// COLORS
$color-brown-dark: #aa9978;
$color-brown-light: #c7c3af;

$color-white: #f3f3f3;
$color-black: #000;

$color-primary: #232f3a;
$color-primary-light: #313f4b;

$color-secondary: #b6d9ed;

$color-grey-light: #eee;
$color-grey-dark: #777;

// #fdf2e9

// GAP
$gap-horizontal-sm: 3rem;
