@use "../abstracts/variables";

.form {
  &__group {
    position: relative;
  }
  &__group:not(:last-child) {
    margin-bottom: 2.5rem;
  }
  &__input {
    outline: none;
    padding: 1.3rem 1.5rem;
    background-color: #fff;
    width: 100%;
    font-size: 1.3rem;
    font-family: "Zalando Sans Expanded", sans-serif;
    letter-spacing: 1px;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 2px;
    box-shadow: 0 5rem 4rem rgba(variables.$color-black, 0.1);
    transition: all 0.3s;

    &:focus {
      border-bottom: 3px solid variables.$color-brown-dark;
      box-shadow: 0 5rem 4rem rgba(variables.$color-black, 0.15);
    }
  }
  &__input::placeholder {
    color: variables.$color-grey-dark;
  }
  &__input:placeholder-shown + &__label {
    opacity: 0;
    transform: translateY(0);
  }

  &__label {
    position: absolute;
    font-size: 1.3rem;
    left: 1.3rem;
    bottom: 1.5rem;
    transform: translateY(3.3rem);
    opacity: 1;
    transition: all 0.3s;
    color: variables.$color-grey-dark;
  }
  &__button {
    font-family: "Zalando Sans Expanded", sans-serif;
    cursor: pointer;
  }
}
