.u-margin-bottom-sm {
  margin-bottom: 1rem;
}
.u-margin-bottom-md {
  margin-bottom: 3rem;
}
.u-margin-bottom-big {
  margin-bottom: 5rem;
}
.u-text-center {
  text-align: center;
}

.u-horizontal-center {
  margin-left: auto;
  margin-right: auto;
}
