@use "../abstracts/variables";
@use "../abstracts/mixins";

.container {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start]
    repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end]
    minmax(6rem, 1fr) [full-end];

  @include mixins.respond(tab-port) {
    grid-template-rows: auto;
  }
}

.section-feature {
  grid-column: 1 / -1;
  padding: 15rem 20rem;
  background-color: variables.$color-primary-light;
}

.section-testimonials {
  grid-column: 1 / -1;
  padding: 10rem 10rem;
  background-color: variables.$color-white;
  display: grid;
  justify-items: center;
}

.section-cta {
  grid-column: 1 / -1;
  padding: 15rem 20rem;
  background-color: variables.$color-primary-light;
  display: grid;
  justify-items: center;

  &__text {
    font-size: 2rem;
    font-weight: 400;
    color: variables.$color-white;
  }
}
.footer {
  padding: 10rem 10rem 3rem;
  grid-column: 1 / -1;
  background-color: variables.$color-white;
}
