@use "../abstracts/variables";
@use "../abstracts/mixins";

.container {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start]
    repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end]
    minmax(6rem, 1fr) [full-end];

  @include mixins.respond(tab-port) {
    grid-template-rows: auto;
  }

  @include mixins.respond(phone) {
    grid-template-columns:
      [full-start] minmax(2rem, 1fr) [center-start]
      repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end]
      minmax(2rem, 1fr) [full-end];
  }
}

.section-feature {
  grid-column: 1 / -1;
  padding: 15rem 20rem;
  background-color: variables.$color-primary-light;

  @include mixins.respond(tab-land) {
    padding: 10rem 12rem;
  }

  @include mixins.respond(tab-port) {
    padding: 10rem 5rem;
  }

  @include mixins.respond(phone) {
    padding: 8rem 3rem;
  }
}

.section-testimonials {
  grid-column: 1 / -1;
  padding: 10rem 10rem;
  background-color: variables.$color-white;
  display: grid;
  justify-items: center;

  @include mixins.respond(tab-port) {
    padding: 10rem 5rem;
  }
}

.section-cta {
  grid-column: 1 / -1;
  padding: 15rem 20rem;
  background-color: variables.$color-primary-light;
  display: grid;
  justify-items: center;
  text-align: center;

  &__text {
    font-size: 2rem;
    font-weight: 400;
    color: variables.$color-white;

    @include mixins.respond(tab-port) {
      font-size: 1.4rem;
    }
  }

  @include mixins.respond(tab-port) {
    padding: 10rem 5rem;
  }

  @include mixins.respond(phone) {
    padding: 8rem 3rem;
  }
}
.footer {
  padding: 10rem 10rem 3rem;
  grid-column: 1 / -1;
  background-color: variables.$color-white;

  @include mixins.respond(tab-port) {
    padding: 10rem 5rem 3rem;
  }

  @include mixins.respond(phone) {
    padding: 10rem 3rem 3rem;
  }
}
